<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>E-learning</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<link href="../../static/style/default.css" rel="stylesheet" type="text/css" />
		</head>
		<body>
		<!-- start header -->
		<div id="header">
			<div id="logo">
				<h1><a href="#">Akademia Blisko</a></h1>
				<h2>E-learning</h2>
			</div>
			<div id="menu">
				<ul>
                    <li><a href="../main.html">Strona główna</a></li>
					<li><a href="kursy.html">Przeglądaj kursy</a></li>
					<li><a href="xx.html">fbfgbf</a></li>
					<li><a href="xx.html">Ofgbfgb</a></li>
					<li><a href="../szablony/kontakt.html">Kontakt</a></li>
				</ul>
			</div>
		</div>
		<!-- end header -->
		<!-- start page -->
		<div id="page">
			<!-- start content -->

			<!-- end content -->
			<!-- start sidebar -->
			<div id="sidebar">
				<ul>
					<li id="Info">
						<h2><strong>Informacje o koncie:</strong></h2>
						<ul>
							<li>Ilość kredytów:</li>
							<li>Data ostatnio wykonanego testu:</li>
							<li>Ostatnio wykonany test:</li>
                            <li>Testów wykonanych (tyle) na (tyle)</li>
                            <li>Testów wykonanych (tyle) na (tyle)</li>
                            <li>Testów wykonanych (tyle) na (tyle)</li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- end sidebar -->
			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end page -->
		<!-- start footer -->
		<div id="footer">
			<p id="legal">(c) 2008 YourSite. Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a> |
		.</p>
		</div>
		<!-- end footer -->
	</body>
</html>
