<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>E-learning</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<link href="../../static/style/default.css" rel="stylesheet" type="text/css" />
		<link href="form_kont.css" rel="stylesheet" />
		</head>
		<body>
		<!-- start header -->
		<div id="header">
			<div id="logo">
				<h1><a href="#">Akademia Blisko<sup></sup></a></h1>
				<h2>E-learning</h2>
			</div>
			<div id="menu">
				<ul>
					<li><a href="../main.html">Strona główna</a></li>
					<li><a href="kursy.html">Przeglądaj kursy</a></li>
					<li><a href="xx.html">fbfgbf</a></li>
					<li><a href="xx.html">Ofgbfgb</a></li>
					<li><a href="kontakt.html">Kontakt</a></li>
				</ul>
			</div>
		</div>
		<!-- end header -->
		<!-- start page -->
		<div id="page">
			<!-- start content -->

    <div class="section content">
      <h1>Kontakt</h1>
      <p>W razie potrzeby kontaktu skorzystaj z poniższego formularza</p>

      <div class="clear"></div>
      
	<div class="module">
	<h2>Formularz kontaktowy</h2>
	<div class="formy">
	
	<form method="post" action="tam gdzie sie będziw wysyłać, be lebel">
	<fieldset>
	
	<p class="formy_text_p">
	<label for="osoba">Imię i nazwisko<em>*</em></label><span>
	<input type="text" id="osoba" name="osoba">
	</span>
	</p>
	
	<p class="formy_text_p">
	<label for="email">Adres e-mail<em>*</em></label><span>
	<input type="text" id="email" name="email">
	</span>
	</p>
	
	<p class="formy_textarea_p">
	<label for="pytanie">Treść<em>*</em></label><span>
	<textarea cols="20" rows="80" id="pytanie" name="pytanie"></textarea>
	</span>
	</p>
	
	
	
	<p class="formy_submit_p">
	<input type="submit" value="Wyślij" name="submit">
	</p>
	
	
	<p>Pola oznaczone gwiazdką<em style="color:#FF0000">*</em> sa wymagane</p>
	
	</fieldset>
	</form>
	
	<div class="clear"></div>
	</div>
	</div>
	
	  <script type="text/javascript">
	  <!--
	    $(document).ready(function() { $("a[rel='c4ca4238a0b923820dcc509a6f75849b']").fancybox(); });
	    -->
	  </script>
	
	</div>
	<div class="clear"></div>
	</div>      
	      
	      
	    </div>
	  </div>
	 
	  <div class="clear"></div>
	</div>
		<!-- end page -->
		<!-- start footer -->
		<br /> <br /><br /><br /><br /><br /><br /><br /><br />
		<div id="footer">
			<p id="legal">(c) 2008 YourSite. Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a> |
		.</p>
		</div>
		<!-- end footer -->
	</body>
</html>
