{% extends "main.html" %}

{% block title %}Blisko &mdash; O platformie {{ about.name }}{% endblock %}

{% block content %}
<h2>O platformie</h2>
<p>
    Akademia Blisko jest platformą e-Learningową, skierowaną do ludzi, którzy cenią sobie naukę na najwyższym poziomie oraz wygodę.
</p>

<p>
    System ten pozwoli Ci zdobyć wiedzę dzięki kursom przygotowanym przez zarówno ekspertów w swoich dziedzinach.
</p>

<p>
    Swoją wiedzę możesz sprawdzić dzięki testom przygotowanym przez specjalistów.
</p>
{% endblock %}