<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Akademia Blisko {% block title %}{% endblock %}</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <script type="application/javascript">
        {% block script %}
        {% endblock %}
    </script>
</head>
<body>

<div style="width:800px; height:600px; padding:20px; text-align:center; border: 10px solid #787878">
    <div style="width:750px; height:550px; padding:20px; text-align:center; border: 5px solid #787878">
        <span style="font-size:52px; font-weight:bold">Certyfikat<br/>ukończenia kursu</span>
        <br><br>
        <span style="font-size:25px"><i>Użytkownik <b>Akademii Blisko</b></i></span>
        <br><br>
        <span style="font-size:30px"><b>{{ user.real_name }}</b></span><br/><br/>
        <span style="font-size:25px"><i>ukończył kurs</i></span> <br/><br/>
        <span style="font-size:30px">„{{ course.name }}”</span> <br/><br/>
        <span style="font-size:20px">z wynikiem <b>100%</b></span> <br/><br/><br/>
        <span style="font-size:16px"><i>{{ course.short }}</i></span>
        <div style="font-size:30px;text-align: right">Akademia Blisko</div>
        <br/><br/><br/>
        <div style="font-size:18px;text-align: center">BloskoExperts 2014</div>
    </div>
</div>

</body>
</html>
