{% extends "main.html" %}

{% block title %}Blisko — Kursy{% endblock %}



{% block content %}

    {% for course in courses %}
        <div id="course">
            <div id="title">
                <a href="/kurs/{{ course.id }}">
                    {{ course.title }} Placeholder
                </a>
            </div>
            <div id="short">
                {{ course.short }}
            </div>
            <div id="cost">
                <strong>{{ course.cost }}</strong> kredytów
            </div>
            <div id="action">
                {% if course.can_buy %}
                    <a href="/kup/{{ course.id }}/{{ course.title }}">Kup</a>
                {% elif course.owned %}
                    Już posiadasz
                {% else %}
                    Doładuj swoje konto
                {% endif %}
            </div>
            <div id="foot"></div>
        </div>
    {% empty %}
        <h2>Brak dostępnych kursów</h2>
        <p>Obecnie nie ma dostępnych kursów</p>
    {% endfor %}


{% endblock %}