{% extends "main.html" %}

{% block title %}Blisko — Kursy{% endblock %}


{% block content %}
    <h1>{{ course.title }}</h1>
    <div id="description">
        {{ course.long }}
    </div>

    <h2>Lekcje</h2>
    <ul id="lessons">
        {% for lesson in course.lessons %}
                <li>
                    <a href="/lekcja/{{ lesson.id }}">{{ lesson.name }}</a>
                </li>
        {% empty %}
            <p>Brak lekcji w tym kursie</p>
        {% endfor %}
    </ul>

    <h2>Testy</h2>
    <ul id="tests">
        {% for test in course.tests %}
                <li>
                    <a href="/test/{{ test.id }}">{{ test.name }}</a>
                </li>
        {% empty %}
            <p>Brak testów w tym kursie</p>
        {% endfor %}
    </ul>

    {% for comment in comments %}
            <div id="author">
                {{ comment.user.login }}
            </div>
            <div id="comment">
                {{ comment.content }}
            </div>
            <div id="date">
                {{ comment.date }}
            </div>
            <div id="footer"></div>
    {% endfor %}

{% endblock %}