<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Akademia Blisko</title>
    <meta name="description" content="">
    <meta name="author" content="Jakub Konieczny, Artur Fonfara">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
<div>
    <header>
        <h1>main</h1>
    </header>
    <nav>
        <ul>
            <li>
                <a href="/">Strona główna</a>
            </li>
            <li>
                <a href="/kursy">Przeglądaj kursy</a>
            </li>
            {% if user.is_logged %}
                <li>
                    <a href="/twojekursy">Twoje kursy</a>
                </li>
                <li>
                    <a href="/wyloguj">Wyloguj</a>
                </li>
            {% else %}
                <li>
                    <a href="/rejestruj">Rejestruj</a>
                </li>
            {% endif %}
        </ul>
    </nav>

    {% block content %}
<h1>Strona główna</h1>
        <p><em>Akademia Blisko</em> to system e-learningowy który pozwoli Ci zdobywać wiedzę nie wychodząc z domu!</p>

        <h2>PROMOCJA!</h2>
        <p>Dołącz do społeczności! Tylko do końca czerwca za samą rejestrację otrzymasz 100 kredytów za darmo!</p>
    {% endblock %}

    <footer>
        <p>
            &copy; Copyright by Jakub Konieczny
        </p>
    </footer>
</div>
</body>
</html>
