<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Akademia Blisko {% block title %}{% endblock %}</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link href="/static/style/default.css" rel="stylesheet" type="text/css"/>
    {% for style in styles %}
        <link href="/static/style/{{ style }}.css" rel="stylesheet" type="text/css"/>
    {% endfor %}
    <script type="application/javascript">
        {% block script %}
        {% endblock %}
    </script>
</head>
<body>
<!-- start header -->
<div id="header">
    <div id="logo">
        <h1><a href="#">Akademia Blisko</a></h1>

        <h2>E-learning</h2>
    </div>
    <div id="menu">
        <ul>
            <li><a href="/">Strona główna</a></li>
            <li><a href="/kursy">Kursy</a></li>
            {% if not user.is_logged %}
                <li><a href="/zaloguj">Zaloguj</a></li>
                <li><a href="/zarejestruj">Zarejestruj się</a></li>
            {% else %}
                <li><a href="/wyloguj">Wyloguj</a></li>
            {% endif %}
            <li><a href="/o_platformie">O platformie</a></li>
        </ul>
    </div>
</div>
<!-- end header -->
<!-- start page -->
<div id="page">
    <!-- start content -->
    <div id="content">
        {% include "msgbox.html" %}
        {% block content %}
            <div class="post">
                <h2 class="title">Akademia Blisko</h2>

                <div class="entry">
                    <p>Akademia Blisko to system e-learningowy który pozwoli Ci zdobywać wiedzę nie wychodząc z
                        domu!</p>
                </div>
            </div>
            <div class="post">
                <h2 class="title"><strong>PROMOCJA!</strong></h2>

                <div class="entry">
                    <p>Dołącz do społeczności! Tylko do końca czerwca za samą rejestrację otrzymasz 100 kredytów za
                        darmo!</p>
                </div>
            </div>

        {% endblock %}
    </div>
    <!-- end content -->
    <!-- start sidebar -->
    <div id="sidebar">
        <ul>
            {% if False %}
                <li id="search">
                    <h2><b class="text1">Search</b></h2>

                    <form method="get" action="">
                        <fieldset>
                            <input type="text" id="s" name="s" value=""/>
                            <input type="submit" id="x" value="Search"/>
                        </fieldset>
                    </form>
                </li>
            {% endif %}

            {% include "panele/inf_global.html" %}
            {% if user.is_logged %}
                {% include "panele/dost_kursy.html" %}
                {% include "panele/inf_konto.html" %}
            {% else %}
                {% include "panele/login.html" %}
            {% endif %}


        </ul>
    </div>
    <!-- end sidebar -->
    <div style="clear: both;">&nbsp;</div>
</div>
<!-- end page -->
<!-- start footer -->
<div id="footer">
    <p id="legal">(c) 2008 YourSite. Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a> |

    <br/>
        © 2014 BliskoExperts
    </p>

</div>
<!-- end footer -->
</body>
</html>
