{% extends "main.html" %}

{% block title %}Rejestracja{% endblock %}

{% block content %}
    <form id="register" action="/zarejestruj/" method="post">{% csrf_token %}
        <p>Login:<br/>
            <input type="text" name="login" value="{{ login }}">
            <br/>
            Prawdziwe imię i nazwisko:<br/>
            <input type="text" name="realname" value="{{ realname }}">
            <br/>
            Email:<br/>
            <input type="text" name="email" value="{{ email }}">
            <br/>
            Hasło:<br/>
            <input type="password" name="pass1">
            <br/>
            Powtórz hasło:<br/>
            <input type="password" name="pass2">
            <br/>
            <br/>
            <input type="submit" name="Submit" value="Załóż konto">
            <input type="reset" name="Reset" value="Wyczyść">
            <br/>
        </p>
    </form>

{% endblock %}