{% extends "main.html" %}

{% block title %}Test: {{ test.name }}{% endblock %}

{% block content %}
    <h1>{{ test.name }}</h1>
    <form action="/kurs/{{ test.course.id }}/wyslij" method="post">{% csrf_token %}
        <input type="hidden" name="test" value="{{ test.id }}"/>
        {% for question in test.questions %}
            <div class="questionBox">
                <div class="question">{{ question.content }}</div>
                <ul>
                    {% for ans in question.answers %}
                        <li>
                            <input type="checkbox" class="checkbox" name="ans{{ ans.id }}"/>
                            {{ ans.text|safe }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
        <input type="submit" value="Wyślij" class="submitButton"/>
    </form>

{% endblock %}